// Icons
%fa{
	font-family: 'Font Awesome\ 5 Pro';
	font-weight: 900;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

// Spacers
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
        @each $prop, $abbrev in (top: t, right: r, bottom: b, left: l) {
            @each $size, $length in $spacers {
                .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
                .#{$abbrev}#{$infix}-n#{$size} { #{$prop}: -$length !important; }
            }
            @each $size, $length in $sizes {
                @if $size != 0 {
                    .#{$abbrev}-#{$size}p { #{$prop}: $length !important; }
                }
            }
            .#{$abbrev}-auto { #{$prop}: auto !important; }
		}
		.overflow#{$infix}-hidden{
			overflow: hidden;
		}
    }
}

// Mixins
@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
	  @content;
	}
}
@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
	  @content;
	}
  
	@include optional-at-root(':-moz-placeholder') {
	  @content;
	}
  
	@include optional-at-root('::-moz-placeholder') {
	  @content;
	}
  
	@include optional-at-root(':-ms-input-placeholder') {
	  @content;
	}
}

// Custom
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	outline: none;
}
::-moz-selection {
  color: #fff;
  background: $primary;
}
::selection {
  color: #fff;
  background: $primary;
}
html{
	height: 100%;
}
body{
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	position: relative;
	text-rendering: optimizeLegibility;
	/*
	@include transition(opacity .2s);
	@include opacity(0);
	&.loaded{
		@include opacity(1);
	}
	*/
	padding-top: 5rem;
	@supports (position: sticky) {
		padding-top: 0;
	}
	&.menu-open{
		overflow: hidden;
	}
	@include media-breakpoint-down(sm){
		font-size: $font-size-sm;
	}
}
a{
	@include transition(all .2s);
}
hr{
	border-top-width: 1px;
	&.dotted{
		border: 0;
		margin: 0;
		position: relative;
		height: 1rem;
		&:before{
			content: '';
			position: absolute;
			left: 0.5rem;
			top: -0.75rem;
			height: 2.25rem;
			margin-left: 1px;
			border-left: 2px dotted $primary;
			@include media-breakpoint-down(sm){
				left: 0.345rem;
			}
		}
	}
}
ul:last-child,
p:last-child{
	margin-bottom: 0;
}
small,.small{
	font-weight: $font-weight-base;
	@include media-breakpoint-down(sm){
		font-size: $font-size-sm;
	}
}
.reveal{
	opacity: 0;
	transition: opacity .6s;
	&.fadeInUp{
		animation-duration: .6s;
	}
	&.animated{
		opacity: 1;
	}
}
.link-8p:hover{
	color: #e24986 !important;
}
.border-width-2{
	border-width: 2px !important;
}
.border-lg{
	border: $border-width-lg solid $primary;
}
.maw-360{
	max-width: 360px;
}
.maw-100{
	max-width: 100% !important;
}
.box-shadow-none{
	box-shadow: none !important;
}
.fz-0{
	font-size: 0;
}
.font-size-xxl{
	@include font-size($font-size-xxl !important);
}
.font-size-xl{
	@include font-size($font-size-xl !important);
}
.font-size-lg{
	@include font-size($font-size-lg !important);
}
.font-size-base{
	@include font-size($font-size-base !important);
}
.font-size-sm{
	@include font-size($font-size-sm !important);
}
.font-size-xs{
	@include font-size($font-size-xs !important);
}
.font-weight-semibold{
	font-weight: 600 !important;
}
.body-color{
	color: $body-color;
}
.line-through{
	text-decoration: line-through !important;
}
.text-underline{
	text-decoration: underline !important;
}
.min-h-500{
	min-height: 500px;
}
.mt-n50p{
	margin-top: -50%;
}
.fa-spin{
    @include animation(fa-spin 1s infinite linear);
}
.ff-base{
	font-family: $font-family-sans-serif !important;
}
.lh-base{
	line-height: $line-height-base !important;
}
.lh-1{
	line-height: 1 !important;
}
.lh-2{
	line-height: 2 !important;
}
.lh-input{
	line-height: 1.8;
}
.z-n2{
	z-index: -2;
}
.z-n1{
	z-index: -1;
}
.z-0{
	z-index: 0;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.va-m{
	vertical-align: middle !important;
}
.va-super{
	vertical-align: super !important;
}
.va-initial{
	vertical-align: initial !important;
}
.hidden{
	position: absolute;
	z-index: -1;
	@include opacity(0);
}
.overflow-visible{
	overflow: visible !important;
}
.opacity-0{
	@include opacity(0);
}
.opacity-25{
	@include opacity(.25);
}
.opacity-50{
	@include opacity(.5);
}
.opacity-75{
	@include opacity(.75);
}
.opacity-1,
.opacity-100{
	@include opacity(1);
}
.bg-info-75{
	background: rgba($info,.75);
}
.bg-white-90{
	background: rgba(255,255,255,.9);
}
.filter-blur{
	-webkit-filter: blur(5px);
	filter: blur(5px);
	&-sm{
		-webkit-filter: blur(2.5px);
		filter: blur(2.5px);
	}
	&-lg{
		-webkit-filter: blur(10px);
		filter: blur(10px);
	}
}
.ratio-img{
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	background-size: cover;
	&:before{
		display: block !important;
		content: "" !important;
	}
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		max-width: none;
		max-height: none;
		&.wide{
			height: 100%;
		}
		&.tall{
			width: 100%;
		}
	}
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		@include font-size($font-size-xl);
		text-align: center;
		font-style: normal;
	}
	&.fixed{
		background-attachment: fixed;
	}
	&-fit{
		img.wide{
			height: auto;
			width: 100%;
		}
		img.tall{
			width: auto;
			height: 100%;
		}
	}
	&-5by2:before{
		padding-top: 40%;
	}
	&-21by9:before{
		padding-top: 42.857143%;
	}
	&-2by1:before{
		padding-top: 50%;
	}
	&-16by9:before{
		padding-top: 56.25%;
	}
	&-4by3:before{
		padding-top: 75%;
	}
	&-1by1:before{
		padding-top: 100%;
	}
	&-3by4:before{
		padding-top: 133.3333%;
	}
	&-9by16:before{
		padding-top: 177.7778%;
	}
	&-1by2:before{
		padding-top: 200%;
	}
	&-9by21:before{
		padding-top: 233.3333%;
	}
	&-2by5:before{
		padding-top: 250%;
	}
	&-avatar{
		display: inline-block;
		width: 6rem;
		height: 6rem;
		line-height: 6rem;
		text-align: center;
		border-radius: 50%;
		i{
			@include font-size(3rem);
		}
		&-xs{
			@extend .ratio-img-avatar;
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			i{
				@include font-size($font-size-base);
			}
		}
		&-sm{
			@extend .ratio-img-avatar;
			width: 4rem;
			height: 4rem;
			line-height: 4rem;
			i{
				@include font-size($font-size-lg);
			}
			@include media-breakpoint-down(xs){
				width: 3rem;
				height: 3rem;
				line-height: 3rem;
			}
		}
		&-lg{
			@extend .ratio-img-avatar;
			width: 8rem;
			height: 8rem;
			line-height: 8rem;
			i{
				@include font-size($font-size-xl);
			}
		}
		&-xl{
			@extend .ratio-img-avatar;
			width: 12rem;
			height: 12rem;
			line-height: 12rem;
			i{
				@include font-size($font-size-xxl);
			}
			@include media-breakpoint-down(md){
				width: 10rem;
				height: 10rem;
				line-height: 10rem;
			}
		}
	}
}
.box-shadow{
	box-shadow: $box-shadow;
}
.box-shadow-lg{
	box-shadow: $box-shadow-lg;
}
.box-shadow-sm{
	box-shadow: $box-shadow-sm;
}
.bg-cover{
	background-position: center;
	background-size: cover;
	&-half-screen{
		position: absolute;
		right: 50%;
		width: 50vw;
		height: 100%;
		@include media-breakpoint-down(sm){
			position: relative;
			right: auto;
			width: 100vw;
			height: auto;
			left: 50%;
			@include transform(translateX(-50%));
			.hidden{
				position: relative;
				z-index: 0;
				@include opacity(1);
			}
		}
	}
}
.modal{
	&-backdrop{
		background: #000;
		@include transition(.4s);
		&.show{
			@include opacity(.9);
		}
	}
	.modal-content{
		padding: 2rem;
		border: 0;
		border-radius: $border-radius;
		box-shadow: $box-shadow-lg;
		@include media-breakpoint-down(sm){
			padding: 1rem;
		}
	}
	.modal-header{
		border-bottom: 0;
	}
	.close{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}
	&-side{
		@include display-flex();
		@include opacity(0);
		visibility: hidden;
		overflow: hidden !important;
		height: 100% !important;
		padding: 0 !important;
		&.show{
			@include opacity(1);
			visibility: visible;
			.modal-content{
				@include transform(translateX(0));
			}
		}
		.modal-dialog{
			margin: 0 0 0 auto;
			max-width: none !important;
			height: 100% !important;
			min-height: 0px !important;
			max-height: none !important;
			@include justify-content(flex-end);
			@include transform(none !important);
		}
		.modal-content{
			width: 550px;
			max-width: 75vw;
			height: 100%;
			padding: 0;
			border: 0;
			box-shadow: $box-shadow-lg;
			border-radius: 0;
			@include display-flex();
			@include flex-direction(column);
			@include justify-content(space-between);
			@include transform(translateX(100%));
			@include transition(.4s);
			@include media-breakpoint-down(xs){
				max-width: 100vw;
			}
		}
		.close{
			z-index: 2;
			position: absolute;
			top: 0;
			right: 0;
			width: 3rem;
			height: 3rem;
			@include font-size($font-size-base);
			text-align: center;
			margin: 0;
			text-shadow: none;
			outline: none !important;
			@include transition(.2s);
			&.outside{
				@include media-breakpoint-up(sm){
					right: 100%;
					color: #fff;
					opacity: 1 !important;
					@include border-bottom-left-radius($border-radius);
					&:hover{
						background: rgba(255,255,255,.1);
						color: #fff;
					}
				}
			}
		}
		.modal-header{
			position: relative;
			z-index: 1;
			padding: 1.5rem 4rem;
			border: 0;
			@include box-shadow(0 0 0.75rem rgba(0, 0, 0, 0.075));
			& + .modal-body{
				padding-top: 2rem;
			}
			@include media-breakpoint-down(xs){
				padding-left: 1rem;
				padding-right: 3rem;
			}
		}
		.modal-body{
			padding: 8rem 4rem 4rem;
			width: 100%;
			overflow: auto;
			&::-webkit-scrollbar {
				width: 0.25rem;
				background: $border-color;
			}
			&::-webkit-scrollbar-thumb {
				background-color: darken($border-color,25);
				@include border-radius(0.25rem);
			}
			.slick-modal{
				margin-left: -4rem;
				margin-right: -4rem;
				overflow: hidden;
				.slick-slide{
					padding-right: 4rem;
					padding-left: 4rem;
				}
			}
			@include media-breakpoint-down(xs){
				padding: 4rem 1rem 2rem;
				.slick-modal{
					margin-left: -1rem;
					margin-right: -1rem;
					.slick-slide{
						padding-right: 1rem;
						padding-left: 1rem;
					}
				}
			}
		}
		.modal-footer{
			position: relative;
			z-index: 1;
			display: block;
			padding: 1.5rem 4rem;
			border: 0;
			@include box-shadow(0 0 0.75rem rgba(0, 0, 0, 0.075));
			@include media-breakpoint-down(xs){
				padding-right: 1rem;
				padding-left: 1rem;
			}
		}
		.slick-slide{
			position: relative;
		}
		.slick-modal-controls{
			&-item{
				.btn{
					@include display-flex();
					@include align-items(center);
					@include justify-content(center);
					i{
						position: relative;
					}
				}
				.btn i:before,
				.btn i:after{
					@include transition(all .2s, color 0s);
				}
				.btn i:after{
					content: '\f00c';
					position: absolute;
					left: 0;
					width: 1.25rem;
					@include opacity(0);
					@include transform(rotate(180deg));
				}
				.text{
					width: 82px;
					max-width: 0;
					white-space: nowrap;
					overflow: hidden;
					transform-origin: left;
					@include opacity(0);
					@include transform(scale(0));
					@include transition(.2s);
				}
				&.active{
					.text{
						margin-left: 1rem;
						max-width: 82px;
						@include transform(scale(1));
						@include opacity(1);
					}
				}
				&.success{
					.btn{
						border-color: $success;
						color: #fff;
						&:before{
							background: $success;
						}
						i:before{
							@include opacity(0);
							@include transform(rotate(-180deg));
						}
						i:after{
							@include opacity(1);
							@include transform(none);
							
						}
					}
				}
				&.danger{
					.btn{
						border-color: $danger;
						color: #fff;
						&:before{
							background: $danger;
						}
						i:before{
							@include opacity(0);
							@include transform(rotate(-180deg));
						}
						i:after{
							content: '\f00d';
							@include opacity(1);
							@include transform(none);
							
						}
					}
				}
			}
			@include media-breakpoint-down(xs){
				.btn-square{
					width: 3rem;
					height: 3rem;
				}
				.text strong{
					@include font-size($font-size-sm);
				}
				&-item.active{
					.text{
						max-width: 62px;
					}
				}
			}
		}
		.slick-prev{
			width: 4rem;
			height: 4rem;
			top: 1.5rem;
			left: 0;
			right: auto;
			&.slick-disabled{
				@include opacity(0);
				visibility: hidden;
			}
		}
		.slick-next{
			width: 4rem;
			height: 4rem;
			top: 1.5rem;
			right: 0;
			left: auto;
			&.slick-disabled{
				@include opacity(0);
				visibility: hidden;
			}
		}
	}
}
.nav{
	&-vertical{
		.nav-link{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				right: 100%;
				height: 1px;
				width: 2rem;
				background: $secondary;
				@include transform(scale(0,1));
				@include transition(.2s);
				transform-origin: right;
			}
			&.active{
				font-weight: $font-weight-bold;
				&:before{
					@include transform(scale(1,1));
				}	
			}
		}
		@include media-breakpoint-down(sm){
			display: block;
			white-space: nowrap;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			overflow: auto;
			.nav-link{
				display: inline-block;
				&:before{
					position: relative;
					top: auto;
					right: auto;
					width: 0;
					display: inline-block;
					vertical-align: middle;
					margin-right: 0.5rem;
				}
				&.active:before{
					width: 2rem;
				}
			}
		}
	}
}
.form-group{
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
}
label{
	@include font-size($font-size-sm);
	&.label-abs{
		position: absolute;
		left: 0.7rem;
		margin-bottom: 0.25rem;
		top: -8px;
		background: #fff;
		padding: 0 0.5rem;
		border-radius: $border-radius;
		@each $color, $value in $theme-colors {
			.bg-#{$color} &{
				background: $value;
				color: color-yiq($value);
			}
		}
	}
}
.form-control{
	background-position: center right calc(0.5em + 0.5rem) !important;
	transition: .2s;
	&:focus,
	&:hover{
		border-color: darken($input-border-color, 15);
	}
	&-white{
		border-color: #fff;
		color: #fff !important;
		&::-webkit-input-placeholder {
			color: rgba(255,255,255,.5);
		}
		&::-moz-placeholder {
			color: rgba(255,255,255,.5);
		}
		&:-ms-input-placeholder {
			color: rgba(255,255,255,.5);
		}
		&:-moz-placeholder {
			color: rgba(255,255,255,.5);
		}
		&:hover,
		&:focus{
			border-color: $secondary;
		}
	}
	.was-validated &:invalid,
	&.is-invalid,
	.was-validated &:valid,
	&.is-valid{
		padding-right: 3rem;
		background-size: 1rem 1rem;
	}
	&.flatpickr-input{
		background: #fff;
		padding-right: 2.5rem;
		@include placeholder{
			color: $primary;
		}
	}
	&.border-light{
		&::-webkit-input-placeholder {
			color: $body-color;
			opacity: .75;
			font-style: italic;
		}
		&:-moz-placeholder { 
			color: $body-color;
			opacity: .75;
			font-style: italic;
		}
		&::-moz-placeholder {
			color: $body-color;
			opacity: .75;
			font-style: italic;
		}
		&:-ms-input-placeholder {
			color: $body-color;
			opacity: .75;
			font-style: italic;
		}
	}
	&.noreadonly{
		background: #fff;
	}
}
textarea.form-control{
	background-position: top calc(0.5em + 0.5rem) right calc(0.5em + 0.5rem) !important;
	max-height: 12rem;
	height: 8rem;
	min-height: 4rem;
}
.form-icon{
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	color: $secondary;
	&.fa,
	&.far,
	&.fas,
	&.fal,
	&.fad{
		pointer-events: none;
		font-size: $font-size-base;
	}
}
.rounded-icon{
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	background: $secondary;
	border-radius: 50%;
	&.text-secondary{
		background: $primary;
	}
}
.input-group{
	&.input-number{
		width: auto;
		//max-width: 8rem;
		@include transition(.2s);
		@include border-radius($border-radius-lg);
		flex-wrap: nowrap;
		.form-control{
			padding: 0;
			width: 3rem;
			height: 2rem;
			text-align: center;
			border: 0;
    		background-color: transparent;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button{
				-moz-appearance:textfield;
				-webkit-appearance: none;
				appearance: none;
				margin: 0;
			}
		}
		.input-group-prepend,
		.input-group-append{
    		.btn{
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				text-align: center;
				border: 0;
				padding: 0;
				background: $secondary;
				color: $primary;
				//border-radius: $border-radius;
				&:before{
					display: none !important;
				}
				i{
					line-height: inherit;
				}
    		}
		}
		&:hover{
			background: #fff;
		}
		&-auto{
			width: 100%;
			.form-control,
			.input-group-prepend,
			.input-group-append{
				flex: 0 0 33.3333333333%;
				max-width: 33.3333333333%;
			}
		}
		&-sm{
			.form-control{
				width: 3rem;
				height: 1.5rem;
			}
			.input-group-prepend .btn,
			.input-group-append .btn{
				width: 1.5rem;
				height: 1.5rem;
				line-height: 1.5rem;
				@include font-size($font-size-sm);
			}
		}
		&-lg{
			.form-control{
				width: 3rem;
				height: 3rem;
			}
			.input-group-prepend .btn,
			.input-group-append .btn{
				height: 3rem;
				line-height: 3rem;
			}
		}
		&-xl{
			.form-control{
				width: 4rem;
				height: 4rem;
			}
			.input-group-prepend .btn,
			.input-group-append .btn{
				height: 4rem;
				line-height: 4rem;
			}
		}
	}
}
.ui-slider{
	&.ui-slider-horizontal{
		height: 0.5rem;
		border: 0;
		background: darken($light,10);
		border-radius: 0.25rem;
	}
	.ui-widget-header{
		background: $secondary;
	}
	.ui-slider-handle{
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.75rem;
		top: -0.5rem;
		background: $primary;
		border: 2px solid #fff;
		@each $color, $value in $theme-colors {
			.bg-#{$color} &{
				border-color: $value;
			}
		}
		&:before{
			content: attr(data-val);
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 0.25rem;
			color: $primary;
			@include font-size($font-size-sm);
		}
	}
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	a.ui-button:active,
	.ui-button:active,
	.ui-button.ui-state-active:hover {
		background: darken($primary,5);
	}
}
.custom-nav{
	.custom-nav-item{
		input{
			visibility: hidden;
			position: absolute;
			width: 0;
			height: 0;
			@include opacity(0);
		}
	}
}
.custom-control{
	&.custom-checkbox,
	&.custom-radio{
		.custom-control-label{
			color: $body-color;
			@include font-size($font-size-base);	
			cursor: pointer;
			&:before{
				background: #fff;
				border: 2px solid $light;
				.bg-light &{
					border-color: $light-alt;
				}
			}
		}
		.custom-control-input:checked ~ .custom-control-label{
			&:before{
				border-color: $primary;
				background: $primary;
			}
		}
	}
	&.custom-checkbox .custom-control-label:before{
		border-radius: $border-radius-sm;
	}
}
.custom-select{
	background-color: #fff;
	-webkit-appearance: none;
}
.custom-switch{
	.custom-control-label{
		line-height: $custom-control-indicator-size;
		&:after {
			top: 0.125rem;
			left: -3rem;
			width: 1.25rem;
			height: 1.25rem;
		}
	}
	.custom-control-input:not(:disabled):active ~ .custom-control-label:before{
		background: mix($primary,$secondary);
	}
	/*
	.custom-control-input:checked ~ .custom-control-label:before{
		background: darken($secondary,10);
		background: mix($primary,$secondary);
	}*/
	.custom-control-input:checked ~ .custom-control-label{
		&:before{
			background: $secondary;
		}
		&:after{
			background: $primary;
		}
	}
}
.cs-select{
	position: relative;
	z-index: 0;
	display: block;
	// max-width: 20rem;
	text-align: left;
	.cs-placeholder{
		position: relative;
		z-index: 1;
		width: 100%;
		padding: 0.5rem 2.4rem 0.5rem 1rem;
		line-height: 1.8;
		cursor: pointer;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: #fff;
		border: $border-width solid $border-color;
		border-radius: $border-radius;
		color: $body-color;
		@include font-size($font-size-base);
		transition: .2s;
		&:after{
			@extend %fa;
			content: '\f078';
			color: $secondary;
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.cs-options {
		position: absolute;
		min-width: 100%;
		max-width: 100%;
		top: 100%;
		opacity: 0;
		visibility: hidden;
		background: #fff;
		color: $body-color;
		padding: 0 0 1rem;
		overflow-x: hidden;
		overflow-y: auto;
		@include font-size($font-size-sm);
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		box-shadow: $box-shadow;
		transition: opacity 0.2s, visibility 0s 0.2s;
		.cs-search{
			-webkit-appearance: none;
			appearance: none;
			background: none;
			padding: 0.5rem 1rem;
			border: 0;
			width: 100%;
			color: inherit;
			@include placeholder{
				font-style: italic;
				color: inherit;
			}
		}
		.cs-search-noresult{
			padding: 0 1rem;
			backface-visibility: hidden;
		}
		ul{
			padding-top: 0.75rem;
			position: relative;
			margin-bottom: 0;
			max-height: 240px;
			overflow: auto;
			&::-webkit-scrollbar {
				width: 0.25rem;
				background: rgba(0, 0, 0, 0.15);
			}
			&::-webkit-scrollbar-thumb {
				background-color: $primary;
				@include border-radius($border-radius);
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 1rem;
				right: 1rem;
				background: $light;
				height: 1px;
			}
		}
		span {
			position: relative;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0.25rem 2.25rem 0.25rem 1rem;
			max-width: 100%;
			cursor: default;
			backface-visibility: hidden;
			&:after {
				@extend %fa;
				content: '\f00c';
				position: absolute;
				right: 1rem;
				top: 50%;
				transform: translateY(-50%);
				color: $success;
				opacity: 0;
				transition: opacity .2s .2s;
			}
		}
		.cs-selected span:after {
			opacity: 1;
		}
	}
	.cs-options li span:hover,
	li.cs-focus span {
		background: $light;
	}
	&.cs-active{
		z-index: 99;
		.cs-placeholder {
			border-color: #fff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			&:after{
				content: '\f077';
			}
		}
		.cs-options {
			opacity: 1;
			visibility: visible;
			transition: opacity 0.2s;
		}
	}
	select{
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}
	&--wrap{
		.cs-options span{
			white-space: normal;
		}
	}
	&--wide{
		.cs-options{
			max-width: 21rem;
		}
	}
	&--transparent{
		@include media-breakpoint-up(md){
			max-width: 15rem;
			.cs-placeholder{
				padding: 0 1.5rem 0 0;
				background: none;
				border: 0;
				color: inherit;
				font-size: $font-size-sm;
				&:after{
					right: 0;
				}
			}
			.cs-options{
				margin-top: 0.5rem;
				border-radius: $border-radius;
			}
		}
	}
	&--short{
		.cs-options ul{
			max-height: 80px;
		}
	}
	&.secondary{
		.cs-placeholder{
			border-color: $secondary !important;
			background: $secondary;
			color: $primary;
			font-weight: $font-weight-bold;
			&:after{
				color: $primary;
			}
		}
		.cs-options{
			background: $secondary;
			ul:before{
				background: rgba(0,0,0,.1);
			}
		}
		.cs-options li span:hover, li.cs-focus span{
			background: rgba(0,0,0,.1);
		}
	}
	&.border-light{
		.cs-placeholder{
			border-color: $light;
			&:after{
				color: $primary;
			}
		}
		&.cs-active .cs-placeholder,
		.cs-placeholder:not(.selected){
			font-style: italic;
			color: rgba($primary,.75);
		}
		.cs-options{
			border: 2px solid $light;
			border-top: 0;
		}
	}
}
.dropdown{
	.dropdown-menu{
		min-width: 100%;
		border: 0;
		padding: 0;
		margin: auto;
		overflow: hidden;
		.header-top &{
			-webkit-border-radius: 0 $border-radius $border-radius 0;
			border-radius: 0 0 $border-radius $border-radius;
		}
		.dropdown-item{
			@include font-size($font-size-sm);
			text-transform: uppercase;
			color: $primary;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			&:active{
				color: $secondary;
			}
		}
	}
	.dropdown-toggle:after{
		vertical-align: baseline;
		color: $secondary;
		margin-left: 0.5rem;
		@extend %fa;
		content: '\f078';
		border: 0;
	}
	&.show{
		.nav-link{
			color: $secondary;
			background: $primary;
		}
		.dropdown-toggle:after{
			content: '\f077';
		}
	}
}
.flatpickr-calendar{
	background: $light;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	border: 2px solid $secondary;
	width: 250px;
	user-select: none;
	&.arrowTop{
		margin-top: 0.75rem;
		&:before,
		&:after{
			border-width: 0.5rem;
			border-bottom-color: $secondary;
		}
	}
	&.arrowBottom{
		margin-top: -0.75rem;
		&:before,
		&:after{
			border-width: 0.5rem;
			border-top-color: $secondary;
		}
	}
	.flatpickr-months{
		background: $primary;
		border-radius: $border-radius $border-radius 0 0;
		.flatpickr-month{
			height: 2rem;
			color: #fff;
			.flatpickr-current-month{
				position: relative;
				left: 0;
				width: 100%;
				@include font-size($font-size-sm);
				font-weight: $font-weight-base;
				padding: 0;
				line-height: 2rem;
				height: auto;
			}
			.flatpickr-monthDropdown-months{
				font-weight: $font-weight-base;
				padding: 0;
				margin: 0;
				width: 50%;
				option{
					color: $primary;
				}
			}
			.numInputWrapper{
				width: 50%;
				text-align: center;
			}
			input.cur-year{
				padding: 0;
				margin: 0;
				text-align: center;
				font-weight: $font-weight-base;
			}
		}
		.flatpickr-prev-month, 
		.flatpickr-next-month{
			position: relative;
			height: 2rem;
			line-height: 2rem;
			padding: 0 0.75rem;
			color: $secondary;
			fill: $secondary;
			&:hover{
				color: #fff;
				svg{
					fill: #fff;
				}
			}
		}
	}
	.flatpickr-weekdays{
		height: 2rem;
		background: rgba(0,0,0,.05);
		span.flatpickr-weekday{
			color: $body-color;
		}
	}
	.flatpickr-days{
		width: 100%;
		.dayContainer{
			min-width: 0px;
			width: 100%;
			max-width: none;
			-ms-flex-pack: start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
		}
		.flatpickr-day{
			min-width: 2rem;
			max-width: none;
			height: 2rem;
			line-height: 2rem;
			border: 0;
			color: $body-color;
			border-radius: 0px;
			transition: .1s;
			&.today{
				background: mix($secondary,$light);
				&:hover{
					background: $secondary;
				}
			}
			&.inRange, 
			&.prevMonthDay.inRange, 
			&.nextMonthDay.inRange, 
			&.today.inRange, 
			&.prevMonthDay.today.inRange, 
			&.nextMonthDay.today.inRange, 
			&:hover, 
			&.prevMonthDay:hover, 
			&.nextMonthDay:hover, 
			&:focus, 
			&.prevMonthDay:focus, 
			&.nextMonthDay:focus{
				background: rgba(0, 0, 0, 0.05);
				background: #fff;
				box-shadow: $box-shadow-sm;
			}
			&.flatpickr-disabled, 
			&.flatpickr-disabled:hover, 
			&.prevMonthDay, 
			&.nextMonthDay, 
			&.notAllowed, 
			&.notAllowed.prevMonthDay, 
			&.notAllowed.nextMonthDay{
				color: rgba($body-color,0.35);
			}
			&.selected, 
			&.startRange, 
			&.endRange, 
			&.selected.inRange, 
			&.startRange.inRange, 
			&.endRange.inRange, 
			&.selected:focus, 
			&.startRange:focus, 
			&.endRange:focus, 
			&.selected:hover, 
			&.startRange:hover, 
			&.endRange:hover, 
			&.selected.prevMonthDay, 
			&.startRange.prevMonthDay, 
			&.endRange.prevMonthDay, 
			&.selected.nextMonthDay, 
			&.startRange.nextMonthDay, 
			&.endRange.nextMonthDay{
				background: $primary;
				color: #fff;
			}
		}
	}
}
.fancybox-container{
	.fancybox-infobar{
		color: #fff;
		mix-blend-mode: normal;
	}
	.fancybox-bg{
		background: #000;
	}
	.fancybox-progress{
		background: $secondary;
	}
	&.fancybox-is-open .fancybox-bg{
		opacity: .9;
	}
	&.fancybox-show-thumbs .fancybox-inner{
		right: 0;
	}
	.fancybox-content{
		border-radius: $border-radius-lg;
		overflow: hidden;
		box-shadow: $box-shadow-lg;
	}
	.fancybox-navigation .fancybox-button{
		border-radius: 50%;
		padding: 0 !important;
		width: 3.5rem;
		height: 3.5rem;
		background: $primary;
		color: $secondary;
		border: 4px solid $secondary;
		@include font-size($font-size-lg);
		transition: .2s;
		&:not([disabled]):hover{
			background: $secondary;
			color: $primary;
		}
		&.fancybox-button--arrow_right{
			margin-right: 1rem;
			i{
				margin-left: 0.25rem;
			}
		}
		&.fancybox-button--arrow_left{
			margin-left: 1rem;
			i{
				margin-right: 0.25rem;
			}
		}
		&[disabled]{
			opacity: 0.6;
		}
	}
	.fancybox-thumbs-x{
		position: absolute;
		top: auto;
		left: 50%;
		right: auto;
		bottom: 10%;
		transform: translateX(-50%);
		width: auto;
		max-width: 50%;
		background: none;
		padding: 0.5rem 0;
		&::-webkit-scrollbar {
			height: 0.5rem;
			background: rgba(255, 255, 255, 0.25);
			border-radius: $border-radius;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #fff;
			border-radius: $border-radius;
		}
		.fancybox-thumbs__list{
			margin: auto;
			a{
				margin: 0.5rem;
				border: 2px solid #fff;
				border-radius: $border-radius;
				box-shadow: $box-shadow;
				&:before{
					border: 0px solid #fff;
				}
				&.fancybox-thumbs-active:before{
					border: 4px solid #fff;
				}
			}
		}
		@include media-breakpoint-down(lg){
			max-width: 75%;
		}
		@include media-breakpoint-down(sm){
			max-width: 100%;
		}
	}
}
.card{
	border: 0;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	transition: .2s;
	.ratio-img{
		border-radius: $border-radius $border-radius 0 0;
		& + .card-body{
			border-radius: 0 0 $border-radius $border-radius;
		}
	}
	.card-body{
		position: relative;
		background: #fff;
		padding: 1.5rem 1rem;
		border-radius: $border-radius;
	}
	&:hover{
		transform: translateY(-0.25rem);
		box-shadow: $box-shadow-lg;
	}
}
.overlay{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background: rgba(#000,.5);
	}
	> div{
		position: relative;
		z-index: 1;
	}
	&-light:before{
		background: rgba(#000,.25);
	}
}
.btn{
	border: 0;
	position: relative;
	outline: none !important;
	transition: .2s;
	line-height: 2rem;
	box-shadow: none;
	i{
		// vertical-align: text-bottom;
		&.fa-times{
			position: absolute;
			top: 1rem;
			right: 1rem;
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			@include transition(.2s);
			&:hover{
				color: $primary;
			}
		}
		&.fa-plus-circle.text-secondary{
			--fa-primary-color: #{$primary};
			&:after{
				opacity: 1;
			}
			/*
			position: relative;
			&:after{
				content: '';
				position: absolute;
				z-index: -1;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				border-radius: 50%;
				background: $primary;
			}*/
		}
	}
	@each $color, $value in $theme-colors {
		&.btn-#{$color}{
			box-shadow: $box-shadow;
			&:not(:disabled):not(.disabled){
				&:hover,
				&:focus,
				&:active:focus,
				&:active{
					box-shadow: 0 .25rem .5rem rgba($black, .15);
				}
			}
		}
	}
	&-arrow{
		&:after{
			content: '\f105';
			@extend %fa;
			vertical-align: text-bottom;
			font-weight: 500;
			margin-left: 0.5rem;
			position: relative;
			transition: .2s;
		}
		&:hover:after{
			transform: translateX(0.5rem);
		}
		&.btn-link{
			&:after{
				content: '\f054';
				@include font-size($font-size-sm);
				vertical-align: middle;
				transform: none !important;
			}
		}
	}
	&-arrow-left{
		&:before{
			content: '\f104';
			@extend %fa;
			vertical-align: text-bottom;
			font-weight: 500;
			margin-right: 0.5rem;
			position: relative;
			transition: .2s;
		}
		&:hover:before{
			transform: translateX(-0.5rem);
		}
		&.btn-link{
			&:before{
				content: '\f053';
				@include font-size($font-size-sm);
				vertical-align: middle;
				transform: none !important;
			}
		}
	}
	&-big-icon{
		padding: 1rem 1rem 1rem 4rem;
		margin-left: 3rem;
		&:before{
			content: '\f82d';
			@extend %fa;
			width: 6rem;
			height: 6rem;
			line-height: calc(6rem - #{$border-width-lg * 2});
			text-align: center;
			background: $secondary;
			color: $primary;
			@include font-size($font-size-xl);
			border: $border-width-lg solid $primary;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			right: 100%;
			transform: translate(50%,-50%);
			box-shadow: $box-shadow-lg;
			transition: .2s;
		}
		&:after{
			content: '\f324';
			@extend %fa;
			margin-left: 0.5rem;
			position: relative;
			transition: .2s;
		}
		&:hover{
			&:before{
				color: darken($primary,7.5%);
				box-shadow: $box-shadow;
				border-color: darken($primary,7.5%);
			}
			&:after{
				transform: translateX(0.5rem);
			}
		}
		@include media-breakpoint-down(xs){
			padding-left: 3rem;
			margin-left: 2rem;
			&:before{
				width: 4rem;
				height: 4rem;
				line-height: calc(4rem - #{$border-width-lg * 2});
			}
		}
	}
	&-center-bottom{
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%,50%);
		white-space: nowrap;
	}
	&-wide{
		padding-right: 4rem;
		padding-left: 4rem;
	}
	&-plus,
	&-minus{
		@include font-size($font-size-base);
	}
	&-square{
		width: 4rem;
		height: 4rem;
		text-align: center;
		padding: 0;
		i{
			line-height: 4rem;
		}
		&-sm{
			width: 3rem;
			height: 3rem;
			text-align: center;
			padding: 0;
			i{
				line-height: 3rem;
			}
		}
		&-lg{
			width: 7rem;
			height: 7rem;
			line-height: 7rem;
			text-align: center;
			padding: 0;
			@include border-radius(50%);
			&:before{
				@include border-radius(50%);
			}
			i{
				line-height: 7rem;
			}
		}
		&.rounded-circle{
			&:before{
				@include border-radius(50%);
			}
		}
	}
	&-link{
		@include font-size($font-size-base);
		border: 0;
		padding: 0;
		text-transform: none;
		box-shadow: none !important;
		&:hover{
			text-decoration: underline !important;
		}
		@include media-breakpoint-down(sm){
			text-decoration: underline !important;
		}
	}
	&-collapse{
		width: 100%;
		display: block;
		padding: 0;
		text-align: left;
		i{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			transition: .2s;
		}
		&.collapsed{
			i{
				transform: translateY(-50%) scale(1,-1);
			}
		}
		&:focus,
		&:active{
			box-shadow: none !important;
		}
		&:hover{
			color: darken($primary,7.5%);
		}
	}
	&-faq{
		margin: -1rem;
		display: block;
		padding: 1rem;
		text-align: left;
		i{
			transition: .2s;
		}
		&.collapsed{
			i{
				transform: scale(1,-1);
				&:before{
					content: '\f067';
				}
			}
		}
		&:hover{
			color: darken($primary,7.5%);
		}
	}
	&-whatsapp{
		position: fixed;
		right: 2rem; 
		bottom: 2rem;
		z-index: 99;
		i{
			vertical-align: middle;
		}
		@include media-breakpoint-down(sm){
			right: 1rem;
			padding-right: 1rem;
			padding-left: 1rem;
			bottom: 1rem;
		}
	}
	&.list-item{
		text-align: left;
		cursor: default;
		padding-right: 4rem;
	}
	&.stretched-link{
		position: unset;
	}
}
.title{
	font-family: $title-font-family;
	font-weight: 700;
	@include font-size($font-size-lg);
	color: inherit;
}
.texto-formatado{
	ul{
		text-align: left;
		padding-left: 1rem;
		li{
			position: relative;
			list-style: disc;
			& + li{
				margin-top: 0.5rem;
			}
			/*
			padding-left: 1rem;
			&:before{
				content: '\f138';
				@extend %fa;
				position: absolute;
				top: 0;
				@include font-size($font-size-sm);
				line-height: 2;
				left: 1px;
			}*/
		}
		&:last-child{
			margin-bottom: 0;
		}
		b,strong{
			color: $secondary;
		}
	}
	u{
		text-decoration: underline;
	}
	a{
		color: $primary;
		&:hover{
			text-decoration: underline;
		}
	}
	&.mais-proximo p{
		margin-bottom: 0.25rem;
	}
}
.duas-colunas{
	ul{
		@include display-flex();
		@include flex-wrap(wrap);
		li{
			flex: 0 0 50%;
			max-width: 50%;
			/*
			padding: 0.25rem 1rem;
			&:before{
				top: 0.3rem;
			}*/
		}
	}
	@include media-breakpoint-only(md){
		&.break-at-md ul{
			display: block;
			li{
				max-width: 100%;
			}	
		}
	}
}
.header-top{
	left: 0;
	right: 0;
	background: #fff;
	transition: .2s;
	&.sticky-top{
		position: fixed;
		@supports (position: sticky) {
			position: sticky;
		}
		&.is-sticky{
			box-shadow: $box-shadow;
			.logo{
				max-height: 3rem;
			}
			.nav-link{
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}
		}
	}
	.logo{
		display: block;
		max-width: 16rem;
		max-height: 4rem;
		overflow: hidden;
		transition: .2s;
		img{
			max-width: inherit;
			max-height: inherit;
		}
		@include media-breakpoint-down(xs){
			max-width: 100%;
		}
	}
	.nav{
		position: relative;
		.nav-link{
			position: relative;
			padding: 2rem 1rem;
			line-height: 1.4;
			text-transform: uppercase;
			font-family: $title-font-family;
			&:hover{
				color: $secondary;
				background: $primary;
			}
			&-icon{
				height: 3rem;
				width: 3rem;
				line-height: 3rem;
				text-align: center;
				padding-right: 0;
				padding-left: 0;
				border-radius: 50%;
				padding: 0 !important;	
			}
		}
		.line{
			position: absolute;
			bottom: 0;
			left: 0;
			margin: auto;
			z-index: -1;
			width: 0;
			height: 2px;
			background: $secondary;
			pointer-events: none;
			@include opacity(0);
			@include border-radius(4px);
			overflow: visible !important;
			@include transition(.2s);
		}
		&:hover .line{
			@include opacity(1);
		}
	}
	.btn-menu {
		position: relative;
		left: 0;
		display: inline-block;
		vertical-align: middle;
		color: $primary;
		width: 3rem;
		height: 3rem;
		background: none;
		border-radius: 50%;
		margin: 0;
		border: 0 solid currentColor;
		cursor: pointer;
		@include transition(all 0.2s);
		@include box-shadow(0 0 0 -1.25rem currentColor);
		span {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			width: 50%;
			height: 2px;
			margin-top: -1px;
			margin-left: auto;
			margin-right: auto;
			background: currentColor;
			@include border-radius();
		}
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: auto;
			height: 2px;
			width: 50%;
			background: currentColor;
			@include border-radius();
			@include transition(all 0.2s, color 0s);
		}
		&:before {
			margin-top: -9px;
		}
		&:after {
			margin-top: 7px;
		}
	}
	#check-nav:checked ~ div{
		#navbar-top {
			@include transform(translateX(0));
		}
		.overlay-menu{
			@include opacity(1);
			visibility: visible;
			pointer-events: all;
		}
		.btn-menu {
			background-size: 1.5rem 2px;
			color: $primary;
			&:before{
				@include transform(rotate(45deg) scaleX(0.5) translate(17px, -3px));
			}
			&:after{
				@include transform(rotate(-45deg) scaleX(0.5) translate(17px, 3px));
			}
		}
	}
	@include media-breakpoint-down(lg){
		.logo{
			max-height: 3rem;
		}
		.nav .nav-link{
			@include font-size($font-size-sm);
			padding-right: 0.75rem;
			padding-left: 0.75rem;
		}
	}
	@include media-breakpoint-down(md){
		padding-top: 1rem;
		padding-bottom: 1rem;
		.overlay-menu{
			z-index: -1;
			position: fixed;
			top: 5rem;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 0;
			background: rgba($dark,.95);
			@include opacity(0);
			pointer-events: none;
			visibility: hidden;
			@include transition(.2s);
		}
		#navbar-top{
			position: fixed;
			top: 5rem;
			bottom: 0;
			right: 0;
			display: block;
			background: #fff;
			width: 420px;
			max-width: 100%;
			text-align: center;
			@include transform(translateX(100%));
			@include box-shadow(0 3rem 3rem rgba(0, 0, 0, 0.175));
			@include transition(.2s);
			li{
				width: 100%;
			}
			.nav-link{
				padding: 0.5rem 2rem;
				border-radius: 0;
				@include font-size($font-size-lg);
			}
		}
		.dropdown-menu.show{
			left: 5px !important;
		}
		&.is-sticky {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			.overlay-menu,
			#navbar-top{
				top: 4rem;
			}
		}
	}
}
.breadcrumb{
	&-item{
		display: inline-block;
		&:before,
		span{
			@include opacity(0.75);
		}
		a{
			color: inherit;
			@include opacity(0.75);
			&:hover{
				@include opacity(1);
			}
		}
		/*
		& + .breadcrumb-item{
			margin-left: -0.25em;
		}
		*/
	}
}
.display-1,.display-2,.display-3,.display-4{
	text-transform: uppercase;
	color: inherit;
	span{
		color: $secondary;
	}
}
.passos{
	border-top: $border-width-lg solid $primary;
	.passo{
		position: relative;
		text-align: center;
		&:before{
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			transform: translateY(-50%);
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			background: $primary;
			color: #fff;
			border-radius: 50%;
		}
		&-1:before{
			content: '1';
		}
		&-2:before{
			content: '2';
		}
		&-3:before{
			content: '3';
		}
		.img{
			border: $border-width-lg solid $primary;
			padding: $border-width-lg;
			background: #fff;
			border-radius: 50%;
			position: relative;
			@include media-breakpoint-up(sm){
				margin-top: -50%;
			}
		}
		p{
			margin-top: 1rem;
		}
	}
}
footer{
	border-bottom: 4px solid $secondary;
	li{
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}
	a{
		color: inherit;
		&:hover{
			color: inherit;
			text-decoration: underline !important;
		}
	}
}
.item-motorhome{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	border: 2px solid $light;
	padding: 2rem 0 2rem 1rem;
	border-radius: $border-radius;
	.border-right{
		border-right: 0 !important;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			height: 10rem;
			left: 100%;
			margin: auto auto auto -1px;
			background: $light;
			width: 2px;
		}
		&.border-sm:before{
			height: 5rem;
		}
	}
	&-pedidos{
		@include media-breakpoint-down(sm){
			text-align: center;
			> div + div:not(:last-child){
				padding-top: 1rem;
				margin-top: 1rem;
				border-top: 1px solid $light;
			}
			.border-right:before{
				display: none;
			}
		}
	}
	@include media-breakpoint-up(xl){
		.border-right-xl{
			border-right: 0 !important;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				height: 10rem;
				left: 100%;
				margin: auto auto auto -1px;
				background: $light;
				width: 2px;
			}
			&.border-sm:before{
				height: 5rem;
			}
		}
	}
	@include media-breakpoint-up(lg){
		.border-right-lg{
			border-right: 0 !important;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				height: 10rem;
				left: 100%;
				margin: auto auto auto -1px;
				background: $light;
				width: 2px;
			}
			&.border-sm:before{
				height: 5rem;
			}
		}
	}
	@include media-breakpoint-down(sm){
		padding-right: 1rem;
		.border-right:before{
			display: none;
		}
	}
}
.lista-detalhes{
	li{
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		i{
			line-height: 1.5;
		}
	}
}
.sem-contato-rodape {
	padding-bottom: 12rem !important;
	& ~ #contato-rodape{
		display: none !important;
	}
	@include media-breakpoint-down(sm){
		padding-bottom: 8rem !important;
	}
}
#depoimentos{
	@include media-breakpoint-down(xs){
		.slick-prev,
		.slick-next{
			top: 14rem;
			bottom: auto;
			margin-top: 2px;
		}
		@include media-breakpoint-down(xs){
			.slick-prev{
				left: 2rem;
			}
			.slick-next{
				right: 2rem;
			}
		}
	}
	& + #contato-rodape{
		padding-top: 12rem !important;
		@include media-breakpoint-down(md){
			padding-top: 8rem !important;
		}
	}
}
.galeria{
	position: relative;
	overflow: hidden;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	&:before{
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 15rem;
		margin-bottom: -5rem;
		z-index: 1;
		@include linear-gradient(#000,rgba(0,0,0,0.0000001), to top);
		transition: .4s;
		pointer-events: none;
		@include media-breakpoint-up(lg){
			transform: translateY(100%);
		}
	}
	.galeria-grande{
		z-index: 0;
	}
	.galeria-pequena{
		position: absolute;
		right: 6rem;
		bottom: 2rem;
		left: 6rem;
		z-index: 2;
		transition: .4s;
		.slick-list{
			overflow: hidden !important;
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
		.slick-slide{
			opacity: 0.75;
			visibility: visible;
			.ratio-img{
				cursor: pointer;
				border: 2px solid #fff;
				border-radius: $border-radius;
				box-shadow: $box-shadow;
			}
			&.slick-center{
				opacity: 1;
			}
		}
		.slick-prev,
		.slick-next{
			background: none;
			border: 0;
			color: #fff;
			left: -5rem;
			right: 100%;
			&:before{
				@include font-size(2rem);
				font-weight: 300 !important;
			}
		}
		.slick-next{
			right: -5rem;
			left: 100%;
		}
		@include media-breakpoint-up(lg){
			opacity: 0;
			visibility: hidden;
		}
		@include media-breakpoint-down(sm){
			right: 3rem;
			left: 3rem;
			bottom: 1rem;
			.slick-prev{
				right: auto;
				left: -2.75rem;
			}
			.slick-next{
				left: auto;
				right: -2.75rem;
			}
		}
		@include media-breakpoint-down(sm){
			right: 1.5rem;
			left: 1.5rem;
			.slick-prev{
				right: auto;
				left: -2.15rem;
			}
			.slick-next{
				left: auto;
				right: -2.15rem;
			}
		}
	}
	&:hover{
		&:before{
			transform: none;
		}
		.galeria-pequena{
			opacity: 1;
			visibility: visible;
		}
	}
}
.accordion-buttons{
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	.btn{
		@include font-size($font-size-base);
		color: $secondary;
		padding: 0.5rem 1rem;
		&:before{
			content: '';
			position: absolute;
			top: 100%;
			margin-top: -0.25rem;
			left: 1.5rem;
			width: 2rem;
			height: 2rem;
			border-radius: $border-radius;
			transform: rotate(-45deg) translate(100%,-100%);
			background: $primary;
			pointer-events: none;
			transition: .2s;
			z-index: -1;
		}
		&:hover{
			color: mix($secondary, #fff);
		}
		&:not(.collapsed){
			color: #fff;
			pointer-events: none;
			&:before{
				transform: rotate(-45deg);
			}
		}
	}	
	&::-webkit-scrollbar {
		height: 0.25rem;
		background: rgba(0,0,0,.25);
		border-radius: $border-radius;
	}
	&::-webkit-scrollbar-thumb {
		background: $secondary;
		border-radius: $border-radius;
	}
}
.accordion-content{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 40rem;
	&::-webkit-scrollbar {
		width: 0.25rem;
		background: $light-alt;
		border-radius: $border-radius;
	}
	&::-webkit-scrollbar-thumb {
		background: $primary;
		border-radius: $border-radius;
	}
}
.lista-reserva{
	> li{
		position: relative;
		&:not(:last-child):before{
			content: '';
			position: absolute;
			top: 3.5rem;
			left: 3.5rem;
			height: 100%;
			border-right: 2px dashed $primary;
		}
		& + li{
			margin-top: 2rem;
		}
	}
	@include media-breakpoint-down(xs){
		margin-left: -2px;
		> li:not(:last-child):before{
			left: 1rem;
			background: #fff;
		}
	}
}
.itens-extras{
	> li + li{
		padding-top: 1rem;
		margin-top: 1rem;
		border-top: 1px solid $light;
	}
}
.side-modal{
	.backdrop,
	.close{
		display: none;
		margin: 0;
	}
	@include media-breakpoint-down(md){
		position: fixed;
		z-index: 99;
		top: 4rem;
		right: 0;
		bottom: 0;
		width: 50%;
		padding: 1rem 1rem 0rem;
		background: #fff;
		box-shadow: 0 -3rem 3rem rgba(0, 0, 0, 0.175);
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
		transition: .2s;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #fff;
			z-index: -1;
		}
		.close{
			position: absolute;
			top: 1rem;
			left: 0rem;
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			display: block;
			opacity: 1;
		}
		.backdrop{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 200%;
			z-index: -2;
			background: $dark;
			display: block;
			opacity: 0;
			transform: translateX(-100%);
			pointer-events: none;
			visibility: hidden;
			transition: .2s;
		}
		.content{
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			background: #fff;
			padding: 0 1rem;
			&::-webkit-scrollbar {
				width: 0.25rem;
				background: $light-alt;
				border-radius: 0.25rem;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $primary;
				border-radius: 0.25rem;
			}
		}
		&-left{
			right: auto;
			left: 0;
			transform: translateX(-100%);
			box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.175);
			.backdrop{
				right: auto;
				left: 0;
				transform: translateX(100%);
			}
		}
		input:checked + &{
			transform: none;
			opacity: 1;
			visibility: visible;
			.backdrop{
				opacity: .95;
				visibility: visible;
				pointer-events: all;
				transform: none;
			}
		}
	}
	@include media-breakpoint-down(sm){
		width: 100%;
		.backdrop{
			display: none;
		}
	}
}
.scrollable{
	@mixin scroll(){
		display: block;
		white-space: nowrap;
		overflow: auto;
		padding: 0 0 1rem;
		&::-webkit-scrollbar {
			height: 0.25rem;
			background: rgba(0, 0, 0, 0.15);
			border-radius: $border-radius;
		}
		&::-webkit-scrollbar-thumb {
			background: $primary;
			border-radius: $border-radius;
		}
		&.scrollbar-secondary::-webkit-scrollbar-thumb{
			background: $secondary;
		}
		> div,
		> li{
			display: inline-block;
			white-space: normal;
			vertical-align: top;
			max-width: 80%;
			& + div,
			& + li{
				margin-left: 1rem;
			}
		}
		&.scrollable-3{
			> div,
			> li{
				max-width: 33%;
			}
		}
		&.scrollable-2{
			> div,
			> li{
				max-width: 45%;
			}
		}
	}
	@include scroll;
	@each $breakpoint, $values in $grid-breakpoints{
		&-#{$breakpoint}{
			@include media-breakpoint-down($breakpoint){
				@include scroll;
			}
		}
	}
}