.slick-selectable{
	@include user-select(auto);
}
.slick-track,
.slick-list,
.slick-slide{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-list{
	overflow: visible !important;
}
.slick-hidden .slick-list{
	overflow: hidden !important;
	.slick-slide{
		visibility: visible;
		@include opacity(1);
	}
}
.slick-list{
	@include transition(.2s);
}
.slick-track{
	min-width: 100%;
}
.slick-slide{
	visibility: hidden;
	@include opacity(0);
	@include transition(all 0.2s);
	&.slick-center ~ .slick-center[aria-hidden="true"],
	.slick-visible &{
		@include opacity(.2);
		visibility: visible;
	}
	.slick-visible-100 &,
	&.slick-active,
	&.slick-center{
		visibility: visible;
		@include opacity(1);
	}
	&.no-transition{
		@include transition(none);
	}
	img{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
.slick-dots{
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 100%;
	margin: 0;
	line-height: 0;
	padding: 0.75rem 0 0.75rem 1rem;
	text-align: left;
	white-space: nowrap;
	$slickDotsSize: 2rem;
	li{
		position: relative;
		display: inline-block;
		width: $slickDotsSize;
		height: $slickDotsSize;
		margin: 0 0.25rem;
		padding: 0;
		cursor: pointer;
		display: none;
		button{
			display: block;
			width: 100%;
			height: 100%;
			padding: 0;
			outline: none;
			color: $body-color;
			background: none;
			border: 0;
			border-bottom: 1px solid transparent;
			@include appearance(none);
			@include opacity(.5);
			@include transition(0);
			&:hover{
				color: $dark;
				border-color: $body-color;
				@include opacity(1);
				@include transition(.2s);
			}
		}
		&.slick-active{
			button{
				@include opacity(1);
				color: $dark;
				border-color: $secondary;
			}
		}
		&:nth-child(-n+9) button:before{
			content: '0';
		}
		&:nth-child(-n+5){
			display: inline-block;
		}
		&:first-child:last-child{
			display: none !important;
		}
	}
	.slick-dots-absolute &{
		position: absolute;
		top: 100%;
		left: 0;
		margin: auto;
	}
	.slick-dots-white &{
		li button{
			background: #fff;
			&:hover{
				background: $gray-200;
			}
		}
		.slick-active button{
			background: $dark;
		}
	}
}
.slick-prev,
.slick-next{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 100%;
	bottom: 0;
	left: -7rem;
	width: 3.5rem;
	height: 3.5rem;
	border: ($border-width * 2) solid $secondary;
	margin: auto;
	padding: 0;
	overflow: hidden;
	font-size: 0;
	text-align: center;
	@include border-radius(50%);
	background: $primary;
	color: $secondary;
	outline: none !important;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	@include appearance(none);
	@include transition(all .2s);
	&:before{
		@extend %fa;
		content: '\f053';
		font-size: $font-size-lg;
		font-weight: 700 !important;
		line-height: 3.5rem;
		margin-left: -0.25rem;
	}
	&:not(.slick-disabled):hover{
		background: $secondary;
		color: $primary;
	}
	&:not(.slick-disabled):active{
		//background: $light;
		color: $primary;
		@include transition(none); 
	}
	&.slick-disabled{
		cursor: default;
		@include opacity(.6);
	}
	/*
	.text-white &{
		color: rgba(255,255,255,.75);
		&:hover{
			color: #fff;
		}
		&.slick-disabled{
			color: rgba(255,255,255,.5) !important;
		}
	}
	@include media-breakpoint-down(md){
		width: 3rem;
		height: 3rem;
		&:before{
			line-height: 3rem;
		}
	}
	*/
	@include media-breakpoint-down(lg){
		left: -1.75rem;
		right: auto;
	}
	@include media-breakpoint-down(xs){
		left: 0rem;
	}
}
.slick-next{
	left: 100%;
	right: -7rem;
	&:before{
		content: '\f054';
		margin-left: 0.25rem;
	}
	@include media-breakpoint-down(lg){
		left: auto;
		right: -1.75rem;
	}
	@include media-breakpoint-down(xs){
		right: 0rem;
	}
}
.slick-center{
	.slick-track{
		@include display-flex();
		@include align-items(center);
	}
}
.slick-stretch{
	.slick-track{
		@include display-flex();
		@include align-items(stretch);
	}
	.slick-slide > *{
		height: 100%;
	}
}
.slick-arrows-horizontal{
	.slick-prev{
		top: 0;
		right: auto;
		bottom: 0;
		left: -1.75rem;
	}
	.slick-next{
		top: 0;
		right: -1.75rem;
		bottom: 0;
		left: auto;
	}
}
.slick-left{
	padding-left: 5rem;
	.slick-list{
		overflow: hidden !important;
	}
	.slick-prev{
		top: 1.5rem;
		left: 0.75rem;
		right: auto;
		@include transform(rotate(90deg));
	}
	.slick-next{
		top: auto;
		bottom: 1.5rem;
		left: 0.75rem;
		right: auto;
		@include transform(rotate(90deg));
	}
	.slick-dots{
		top: 0;
		width: auto;
		height: 100%;
		padding: 4rem 1.5rem;
		@include display-flex();
		@include flex-direction(column);
		@include justify-content(center);
		li{
			margin: 0.25rem 0;
			button{
				border: 0;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					top: 50%;
					right: 100%;
					height: 1px;
					width: 2rem;
					background: $secondary;
					@include transform(scale(0,1));
					@include transition(.2s);
					transform-origin: right;
				}
			}
			&.slick-active button{
				&:after{
					@include transform(scale(1,1));
				}
			}
		}
	}
	.slick-slide{
		border: 0;
		&.active{
			@include opacity(1);
			visibility: visible;
			transform-origin: bottom left;
		}
		&.slick-center{
			@include transform(none);
			@include opacity(1);
			visibility: visible;
			& + .slick-slide{
				@include opacity(1);
				visibility: visible;
				transform-origin: top left;
			}
		}
	}
	@include media-breakpoint-down(xs){
		padding-left: 0;
		.slick-dots{
			left: auto;
			right: 0;
			padding: 2.5rem 0;
		}
		.slick-prev,
		.slick-next{
			left: auto;
			right: -0.75rem;
		}
		.slick-prev{
			top: -0.5rem;
		}
		.slick-next{
			bottom: -0.5rem;
		}
	}
}