// Colors
$primary: #396152; 
$secondary: #D9C7A7; 
$success: #607F4A;
$info:  #3B495F;
$warning:  #908154;
$danger:  #864F59;
$light: #F1F0F0;
$light-alt: #D9D9D9;
$dark: #404040;
$body-color: $primary;
$yiq-text-dark: $body-color;
$yiq-text-light: $secondary;
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);


// Fonts
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
$font-size-xxl: $font-size-base * 5;
$font-size-xl: $font-size-base * 3.5;
$font-size-lg: $font-size-base * 1.5;
$font-size-sm: $font-size-base * .75;
$font-size-xs: $font-size-base * .5;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;
$line-height-base: 1.5;
$small-font-size: 75%;
$rfs-base-value: 1rem;

// Typography
$title-font-family: 'Zilla Slab';
$headings-font-family: 'Vinyl';
$headings-font-weight: normal;
$headings-line-height: 1.25;
$headings-color: $primary;
$display1-size: 3.5rem;
$display2-size: 2.5rem;
$display3-size: 2rem;
$display4-size: 1.5rem;
$display1-weight: $font-weight-base;
$display2-weight: $font-weight-base;
$display3-weight: $font-weight-base;
$display4-weight: $font-weight-base;

// Components
$border-width: 2px;
$border-width-lg: 4px;
$border-color: $secondary;
$border-radius-sm: .25rem;
$border-radius: .5rem;
$border-radius-lg: 1rem;
$component-active-bg: $primary;

// Input + Buttons
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 2rem;
$input-btn-line-height: 1.75;
$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: 1.5rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: 2;
$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg: 2.5rem;
$input-btn-line-height-lg: 2;
$input-btn-font-size-lg: $font-size-base;
$input-btn-focus-box-shadow: none;

// Form
$input-bg: #fff;
$input-disabled-bg: $light;
$input-color: $body-color;
$input-border-color: $border-color;
$input-padding-x: 1rem;
$input-box-shadow: none;
$input-placeholder-color: rgba($body-color,.5);
$input-height: auto; //calc(#{$input-btn-line-height * 1rem} + #{$input-btn-padding-y * 2} + #{$border-width});

// Custom indicators
$custom-control-indicator-size: 1.5rem;
$custom-control-indicator-bg: darken($primary, 10);
$custom-control-indicator-border-color: $primary;
$custom-control-indicator-border-width: 0;
$custom-control-indicator-checked-bg: $custom-control-indicator-bg;

// Badges
$badge-font-size: $font-size-base;
$badge-padding-y: .5rem;
$badge-padding-x: 1rem;
$badge-pill-padding-x: 1rem;

// Btn
$btn-color: $body-color;
$btn-font-family: $title-font-family;
$btn-font-weight: 700;
$btn-font-size: $font-size-lg;

// Links
$link-color: $body-color;
$link-hover-color: $primary;
$link-hover-decoration: none;
$emphasized-link-hover-darken-percentage: 10%;

// Tables
$table-cell-padding: .5rem;
$table-cell-padding-sm: .25rem;

// Breadcrumbs
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: .5rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: none;
$breadcrumb-divider-color: inherit;
$breadcrumb-active-color: inherit;
$breadcrumb-divider: quote("/");
$breadcrumb-border-radius: 0;

// Spacers (.p-* & .m-*)
$spacer: 2rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * .75),
    4: $spacer,
    5: ($spacer * 1.25),
    6: ($spacer * 1.5),
    7: ($spacer * 2),
    8: ($spacer * 3),
    9: ($spacer * 4),
    10: ($spacer * 5)
);

// Sizes (.w-* & .h-*)
$sizes: (
	0: 0,
    10: 10%,
    20: 20%,
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    75: 75%,
    80: 80%,
    90: 90%,
    100: 100%
);

// Grid
$grid-gutter-width: 2rem;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1380px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1350px
);

// Configs
$enable-responsive-font-sizes: true;
$enable-rounded: true;
$enable-shadows: true;
	
// Easing variables
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);