@font-face {
    font-family: 'Vinyl';
    src: url('../fonts/VinylRegular.eot');
    src: url('../fonts/VinylRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VinylRegular.woff2') format('woff2'),
        url('../fonts/VinylRegular.woff') format('woff'),
        url('../fonts/VinylRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

